@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/vazir/eot/Vazir-Bold-FD.eot");
  src: url("fonts/vazir/eot/Vazir-Bold-FD.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("fonts/vazir/woff2/Vazir-Bold-FD.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("fonts/vazir/woff/Vazir-Bold-FD.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("fonts/vazir/ttf/Vazir-Bold-FD.ttf")
      format("truetype");
}
@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 500;
  src: url("fonts/vazir/eot/Vazir-Medium-FD.eot");
  src: url("fonts/vazir/eot/Vazir-Medium-FD.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("fonts/vazir/woff2/Vazir-Medium-FD.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("fonts/vazir/woff/Vazir-Medium-FD.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("fonts/vazir/ttf/Vazir-Medium-FD.ttf") format("truetype");
}
@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 300;
  src: url("fonts/vazir/eot/Vazir-Light-FD.eot");
  src: url("fonts/vazir/eot/Vazir-Light-FD.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("fonts/vazir/woff2/Vazir-Light-FD.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("fonts/vazir/woff/Vazir-Light-FD.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("fonts/vazir/ttf/Vazir-Light-FD.ttf") format("truetype");
}
@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 200;
  src: url("fonts/vazir/eot/Vazir-Thin-FD.eot");
  src: url("fonts/vazir/eot/Vazir-Thin-FD.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("fonts/vazir/woff2/Vazir-Thin-FD.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("fonts/vazir/woff/Vazir-Thin-FD.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("fonts/vazir/ttf/Vazir-Thin-FD.ttf")
      format("truetype");
}
@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/vazir/eot/Vazir-FD.eot");
  src: url("fonts/vazir/eot/Vazir-FD.eot?#iefix") format("embedded-opentype"),
    /* IE6-8 */ url("fonts/vazir/woff2/Vazir-FD.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("fonts/vazir/woff/Vazir-FD.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("fonts/vazir/ttf/Vazir-FD.ttf")
      format("truetype");
}
