     <!--Cart Tab -->
      <section >
        <div class="cartTab" >
          <h1>سبد خرید</h1> 
          <div class="listCart" >
            {% if cart_products %}
            {% for product in cart_products %}
              <div class="item" >
                <div class="image">
                  <img src="{{ product.image.url }}" alt=""/>
                  </div>
                <div class="name">
                  {{ product.name }}
                  </div>
                <div class="totalPrice">
                  {% if product.discount %}
                  {{ product.discounted_price }} تومان
                  {% else %}
                  {{ product.formatted_price  }} تومان
                  {% endif %}
                </div>
                <style>
                  .totalPrice{
                    font-family: 'vazir';
                  }
                </style>
                <div class="">
                  <button type="button" class="btn-close delete-product" aria-label="Close" data-index="{{ product.id }}"></button>
                </div>
              </div>
              {% endfor %}
            {% else %}
            <div class="name">
              محصولی در سبد خرید موجود نیست.
              </div>
            {% endif %}
          </div>
          <div class="cartbtn">
           <a href="{% url 'cart_summary' %}" class="checkout"> <button class="checkout">جزئیات سبد خرید</button> </a>
            <button class="close">بستن</button>
          </div>
        </div>
      </section>

 <script>
        // Update Cart
        $(document).on('click', '.update-cart', function(e){
            e.preventDefault();
            // grab the product id
            var productid = $(this).data('index');
        
            $.ajax({
            type: 'POST',
            url: '{% url 'cart_update' %}',
            data: {
              product_id: $(this).data('index'),
              product_qty: $('#select' + productid + ' option:selected').text(),
              csrfmiddlewaretoken: '{{ csrf_token }}',
              action: 'post'
            },
            success: function(json){
                //console.log(json)
                //document.getElementById("cart_quantity").textContent = json.qty
                location.reload();
            },
        
            error: function(xhr, errmsg, err){
        
            }
        
        
            });
        
        })
        
        // Delete Item From Cart
        $(document).on('click', '.delete-product', function(e){
            e.preventDefault();
            // grab the product id
            //var productid = $(this).data('index');
        
            $.ajax({
            type: 'POST',
            url: '{% url 'cart_delete' %}',
            data: {
              product_id: $(this).data('index'),
              csrfmiddlewaretoken: '{{ csrf_token }}',
              action: 'post'
            },
            success: function(json){
                //console.log(json)
                //document.getElementById("cart_quantity").textContent = json.qty
                location.reload();
            },
        
            error: function(xhr, errmsg, err){
        
            }
        
        
            });
        
        })
        
        
        
        
        </script>