{% extends "base.html" %}
{% load static %} 
{% block content %} 
    <!-- slider -->
    <section>
      <div class="box-slider big-slider">
        <div class="owl-carousel owl-theme">
          <div class="item" data-href="{% url "category" "حسابداری" %}"><img src="{% static 'img/banner/bannermain2.png' %}" alt="حسابداری"></div>
          <div class="item" data-href="{% url "category" "شبکه و نرم افزار" %}"><img src="{% static 'img/banner/bannermain.png' %}" alt="شبکه و نرم افزار"></div>
          <div class="item" data-href="{% url "category" "گرافیک" %}"><img src="{% static 'img/banner/bannermain3.png' %}" alt="گرافیک"></div>
        </div>
      </div>
    </section>
    <section>
      <div class="box-slider small-slider">
        <div class="owl-carousel owl-theme">
          <div class="item" data-href="{% url "category" "حسابداری" %}"><img src="{% static '/img/banner/bannersecond1.png' %}" alt="شبکه و نرم افزار"></div>
          <div class="item" data-href="{% url "category" "شبکه و نرم افزار" %}"><img src="{% static '/img/banner/bannersecond2.png' %}" alt="حسابداری"></div>
          <div class="item" data-href="{% url "category" "گرافیک" %}"><img src="{% static '/img/banner/bannersecond3.png' %}" alt="گرافیک"></div>
        </div>
      </div>
    </section>
    <!-- end slider -->
    <!-- first products -->
    <section id="product1" class="section-p1">
      <h2>محصولات پر فروش</h2>
      <p>همراه با ضمانت 7 روزه!</p>
      <div class="listProduct">
        {% for product in products|slice:":12" %}
        {% if product.discount %}
            <!-- discount product -->
          <div class="item"  data-href="{% url 'product' product.id %}">
          <!-- product image -->
          <img src="{{product.image.url}}" alt=""/>
          <span id="offer">{{ product.sale_discount }}%</span>
          <div class="des">
          <!-- product name -->
          <h5>{{ product.name }} 
          </h5>
          <!-- product Price -->
          <h4 class="price-h4">
            <span class="old-price"> {{ product.formatted_price  }} </span>
            <span class="new-price"> {{ product.discounted_price }} تومان </span>
          </h4>
          </div>
          <button type="button" class="addCart" value="{{ product.id }}" id="add-cart">
            <span class="material-symbols-outlined cart">
              shopping_cart
              </span>
          </button>
          </div>
            {% else %}
            <div class="item"  data-href="{% url 'product' product.id %}">
              <!-- product image -->
              <img src="{{product.image.url}}" alt="product image"/>
              <div class="des">
              <!-- product name -->
              <h5>{{ product.name }} </h5>
              <!-- product Price -->
              <h4 class="price-h4"> <span> {{ product.formatted_price }} تومان </span> </h4>
              </div>
              <button class="addCart" id="add-cart" value="{{ product.id }}">
                <span class="material-symbols-outlined cart">
                  shopping_cart
                  </span>
              </button>
              </div>
              {% endif %}
        {% endfor %}
      </div>
    </section>
    <!-- firt prodects DONE-->
  <section id="banner" class="section-m1">
    <h4>جشنواره ویژه ی نوروز شروع شد!</h4>
    <h2> تا <span>60% </span>تخفیف در جشنواره نوروز </h2>
   <a href="{% url 'offer' %}"> <span class="offer-banner-button" >دیدن محصولات جشنواره</span>  </a>
  </section>
  <!-- second products -->
      <section id="product1" class="section-p1">
        <h2>محصولات پیشنهادی</h2>
        <div class="listProduct">
          {% for product in products|slice:":8" %}
          {% if product.discount %}
              <!-- discount product -->
            <div class="item"  data-href="{% url 'product' product.id %}">
            <!-- product image -->
            <img src="{{product.image.url}}" alt=""/>
            <span id="offer">{{ product.sale_discount }}%</span>
            <div class="des">
            <!-- product name -->
            <h5>{{ product.name }}</h5>
            <!-- product Price -->
            <h4 class="price-h4">
              <span class="old-price"> {{ product.formatted_price  }} </span>
              <span class="new-price"> {{ product.discounted_price }} تومان </span>
            </h4>
            </div>
            <button type="button" class="addCart" value="{{ product.id }}" id="add-cart">
              <span class="material-symbols-outlined cart">
                shopping_cart
                </span>
            </button>
            </div>
              {% else %}
              <div class="item"  data-href="{% url 'product' product.id %}">
                <!-- product image -->
                <img src="{{product.image.url}}" alt="product image"/>
                <div class="des">
                <!-- product name -->
                <h5>{{ product.name }} </h5>
                <!-- product Price -->
                <h4 class="price-h4"> <span> {{ product.formatted_price }} تومان </span> </h4>
                </div>
                <button class="addCart" id="add-cart" value="{{ product.id }}">
                  <span class="material-symbols-outlined cart">
                    shopping_cart
                    </span>
                </button>
                </div>
                {% endif %}
          {% endfor %}
        </div>
      </section>
  <!-- second products DONE -->

  <script>
    $(document).ready(function() {
      // Function to update cart summary
      function updateCartSummary() {
          $.ajax({
              type: 'GET',
              url: '{% url "cart_summary" %}',
              success: function(html) {
                  $('.cartTab').html(html); // Update cart summary content
                  // Reattach event handlers to the checkout and close buttons
                  attachCheckoutHandler();
                  attachCloseHandler();
              },
              error: function(xhr, errmsg, err) {
                  // Handle error if needed
              }
          });
      }
  
      // Function to attach event handler to checkout button
      function attachCheckoutHandler() {
          $('.checkout').click(function() {
              // TODO your checkout logic here
          });
      }
  
      // Function to attach event handler to close button
      function attachCloseHandler() {
          $('.close').click(function() {
              let body = document.querySelector("body");
              body.classList.remove("showCart");
          });
      }
  
      // Handle add to cart button click
      $(document).on('click', '.addCart', function(e) {
          e.preventDefault(); // Prevent default action
          e.stopPropagation(); // Stop event propagation to prevent parent click event
          var productid = $(this).val(); // Get the value of the clicked button
          $.ajax({
              type: 'POST',
              url: '{% url "cart_add" %}',
              data: { 
                  product_id: productid,
                  product_qty: 1,
                  csrfmiddlewaretoken: '{{ csrf_token }}',
                  action: 'post'
              },
              success: function(json) {
                  // Update cart icon or any other action you want
                  document.getElementById("icon-span").textContent = json.qty;
                  // Update cart summary
                  updateCartSummary();
                  location.reload();

              },
              error: function(xhr, errmsg, err) {
                  // Handle error if needed
              }
          });
      });
  
      // Handle navigation to product page only if clicked outside the cart tab
      $(document).on('click', '.item', function(e) {
          if (!$(this).closest('.cartTab').length) {
              var productUrl = $(this).data('href'); // Get the product URL
              window.location.href = productUrl; // Navigate to the product page
          }
      });
  
      // Attach event handlers to checkout and close buttons on initial page load
      attachCheckoutHandler();
      attachCloseHandler();
  });
  </script> 
  
  
  
  
  
  
{% endblock %}
