{% load static %}
<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Shahid Beheshty</title>
    <link rel="stylesheet" href="{% static 'login/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/login.css' %}" />
  </head>

  <body class="login-page" >
    {% for message in messages %}
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			{{message}}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		{% endfor %}
    <section class="h-100">
      <div class="container h-100">
        <div class="row justify-content-md-center h-100">
          <div class="card-wrapper">
            <div class="brand">
              <a href="{% url 'index' %}"><img src="{% static "img/footerlogo.png" %}" alt="logo" /></a>
            </div>
            <div class="card fat">
              <div class="card-body">
                <h4 class="card-title">ورود به حساب کاربری</h4>
                <form method="POST" class="my-login-validation" novalidate="" action="{% url 'login' %}">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="email"> نام کاربری </label>
                    <input
                      id="username"
                      type="username"
                      class="form-control"
                      name="username"
                      value=""
                      required
                      autofocus
                    />
                    <div class="invalid-feedback">نام کاربری الزامی است</div>
                  </div>

                  <div class="form-group">
                    <label for="password">رمز عبور
                    </label>
                    <input
                      id="password"
                      type="password"
                      class="form-control"
                      name="password"
                      required
                      data-eye
                    />
                    <a href="{% url 'forget' %}" class="float-right">رمز خود را فراموش کرده اید ؟</a>
                    <div class="invalid-feedback">رمز عبور الزامی است</div>
                  </div>
                  <div class="form-group" id="captcha-form-group">
                    <div class="label">
                      <label dir="rtl" for="captcha">کد امنیتی :</label>
                      </div>
                      <input class="captcha-input" type="text" id="captcha" name="captcha" required dir="ltr">
      
                      <div class="captcha-span">
                      <span id="captchaCode"></span>
                      </div>
                  </div>
                  <style>
                    .captcha-span {
                      color: red;
                        font-family:  Arial, sans-serif;
                      font-size: 30px;
                      border: 1px black solid;
                      width: 120px;
                      letter-spacing: 10px;
                      position: relative;
                      top : -38px;
                    }
                  </style>
                  <div class="form-group">
                    <div class="custom-checkbox custom-control">
                      <input
                        type="checkbox"
                        name="remember"
                        id="remember"
                        class="custom-control-input"
                      />
                      <label for="remember" class="custom-control-label"
                        >مرا به خاطر بسپار</label
                      >
                    </div>
                  </div>
                  <div  class="form-group m-0">
                    <button id="loginButton" type="submit" class="btn btn-primary btn-block">
                      ورود
                    </button>
                    <label dir="rtl" id="captcha-text">(جهت ظاهر شدن دکمه ورود کد امنیتی را وارد کنید)</label>

                  </div>
                  <style>
                    #captcha-text {
                      font-size: 14px;
                      position: relative;
                      display: flex;
                      justify-content: center;
                      margin-top :20px;
                    }
                    #captcha-form-group{
                      margin-bottom :0px; 
                    }
                  </style>
                  <style>
                    #loginButton{
                      visibility: hidden;
                    }

                  </style>
                  <div class="mt-4 text-center">
                    حساب کاربری ندارید ؟
                    <a href="{% url "register" %}">ثبت نام کنید</a>
                  </div>
                </form>
              </div>
            </div>
            <div class="footer">کپی رایت &copy; 2024 &mdash; هنرستان شهید بهشتی</div>
          </div>
        </div>
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{% static 'login/js/my-login.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

  
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      generateCaptcha();
  });
  // captcha generator
  function generateCaptcha() {
      // captcha length 4
      const captchaLength = 4;
      // normal number here from 0 to 9
      const characters = "0123456789";
      let captchaCode = "";
      for (let i = 0; i < captchaLength; i++) {
          const randomIndex = Math.floor(Math.random() * characters.length);
          captchaCode += characters[randomIndex];
      }
      document.getElementById("captchaCode").textContent = captchaCode;
  }
  // check for captha input
  function handleCaptchaInput() {
      const captchaInput = document.getElementById("captcha").value;
      const captchaCode = document.getElementById("captchaCode").textContent;
  
      const registerButton = document.getElementById("loginButton");
      if (captchaInput === captchaCode) {
        loginButton.style.visibility = "visible"; // Show the register button
      } else {
        loginButton.style.visibility = "hidden"; // Hide the register button
      }
  }
  
  // Add event listener to the captcha input field
  const captchaInput = document.getElementById('captcha');
  captchaInput.addEventListener('input', handleCaptchaInput);
  </script>
  
</html>
