<div>
    <ul id="navbar">
      <li><a  {% if active_page == "index" %} class="active" {% endif %}  href="{% url "index" %}">خانه</a></li>
      <li><a  {% if active_page == "category" and category_name == "شبکه و نرم افزار" %} class="active" {% endif %}   href="{% url "category" "شبکه و نرم افزار" %}">شبکه و نرم افزار</a></li>
      <li><a  {% if active_page == "category" and category_name == "گرافیک" %} class="active" {% endif %}   href="{% url "category" "گرافیک" %}">گرافیک</a></li> 
      <li><a  {% if active_page == "category" and category_name == "حسابداری" %} class="active" {% endif %} href="{% url "category" "حسابداری" %}">حسابداری</a></li>
      <li><a  {% if active_page == "contact" %} class="active" {% endif %} href="{% url "contact" %}">ارتباط با ما</a></li>
      {% if user.is_authenticated %} 
      <li> <a href="{% url "logout" %}"> 
        <span class="material-symbols-outlined logout">
          logout
        </span> 
        </a></li> 
      {% else %}
      <li><a href="{% url "login" %}"><i class="fa-regular fa-user profile"></i></a></li>
      {% endif %}
      <li id="search-li"><span class="search-icon material-symbols-outlined">search</span></li>
      <li class="cart">
      <a><span id="cart_icon" class="material-symbols-outlined">
        shopping_cart
        </span>
      <span id="icon-span" class="icon-cart-span"> {{ cart|length }}  </span>
      </a>
      </li>
    </ul>
  </div>