{% extends "base.html" %}
{% load static %}
{% block content %}



<!-- header -->
    <section id="page5-header">
    </section>
    <!-- products -->
    <div id="offer-title" class="section-p1">
      <h1 class="text">جشنواره نوروز</h1>
    </div>
    <section id="product1" class="section-p1">
        <h2>تخفیفات محصولات شبکه و نرم افزار</h2>
        <div class="listProduct">
          {% for product in products %}
          {% if product.category.name == 'شبکه و نرم افزار' %}
            {% if product.discount %}
              <!-- discount product -->
            <div class="item"  data-href="{% url 'product' product.id %}">
            <!-- product image -->
            <img src="{{product.image.url}}" alt=""/>
            <span id="offer">{{ product.sale_discount }}%</span>
            <div class="des">
            <!-- product name -->
            <h5>{{ product.name }} 
            </h5>
            <!-- product Price -->
            <h4 class="price-h4">
              <span class="old-price"> {{ product.formatted_price  }} </span>
              <span class="new-price"> {{ product.discounted_price }} تومان </span>
            </h4>
            </div>
            <button type="button" class="addCart" value="{{ product.id }}" id="add-cart">
              <span class="material-symbols-outlined cart">
                shopping_cart
                </span>
            </button>
            </div>
            {% endif%}
          {% endif %}
          {% endfor %}
        </div>
    </section>  


    <section id="product1" class="section-p1">
      <h2>تخفیفات محصولات حسابداری</h2>
      <div class="listProduct">
        {% for product in products %}
        {% if product.category.name == 'حسابداری' %}
          {% if product.discount %}
            <!-- discount product -->
          <div class="item"  data-href="{% url 'product' product.id %}">
          <!-- product image -->
          <img src="{{product.image.url}}" alt=""/>
          <span id="offer">{{ product.sale_discount }}%</span>
          <div class="des">
          <!-- product name -->
          <h5>{{ product.name }} 
          </h5>
          <!-- product Price -->
          <h4 class="price-h4">
            <span class="old-price"> {{ product.formatted_price  }} </span>
            <span class="new-price"> {{ product.discounted_price }} تومان </span>
          </h4>
          </div>
          <button type="button" class="addCart" value="{{ product.id }}" id="add-cart">
            <span class="material-symbols-outlined cart">
              shopping_cart
              </span>
          </button>
          </div>
          {% endif%}
        {% endif %}
        {% endfor %}
      </div>
      </section>  


    <section id="product1" class="section-p2">
        <h2>تخفیفات محصولات گرافیک</h2>
        <div class="listProduct">
          {% for product in products %}
          {% if product.category.name == 'گرافیک' %}
            {% if product.discount %}
              <!-- discount product -->
            <div class="item"  data-href="{% url 'product' product.id %}">
            <!-- product image -->
            <img src="{{product.image.url}}" alt=""/>
            <span id="offer">{{ product.sale_discount }}%</span>
            <div class="des">
            <!-- product name -->
            <h5>{{ product.name }} 
            </h5>
            <!-- product Price -->
            <h4 class="price-h4">
              <span class="old-price"> {{ product.formatted_price  }} </span>
              <span class="new-price"> {{ product.discounted_price }} تومان </span>
            </h4>
            </div>
            <button type="button" class="addCart" value="{{ product.id }}" id="add-cart">
              <span class="material-symbols-outlined cart">
                shopping_cart
                </span>
            </button>
            </div>
            {% endif%}
          {% endif %}
          {% endfor %}
        </div>
    </section> 
 

  {% endblock %}